In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))

In [ ]:
df

     A   B   C   D
0   39  51   5  99
1   75  35  68  19
2   75  94  16  16
3   90  17  88  13
4   81  63  62  66
..  ..  ..  ..  ..
95  20  61  14  88
96  90   7   0  67
97   9  26  39  46
98  71  37  59  26
99  56  75  18  66

[100 rows x 4 columns]